* {
  box-sizing: border-box;
}

img.fit-img {
  max-width: 100%;
}
.full-img {
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}

body {
  font-family: "メイリオ", "Meiryo", "Arial";
  padding: 0px;
  margin: 0px;
  background: #e2e6dc;
}

header {
  padding-top: 5px;
  height: 70px;
}
header a {
  color: #000;
  text-decoration: none;
}
header h1 {
  font-size: 32pt;
  margin: 0px;
}
.header-container {
  max-width: 900px;
  margin: 0px auto 0;
  padding-left: 32px;
  height: 75px;
  display: flex;
  justify-content: space-between;
}
.aboutme {
  padding-top: 16px;
  padding-right: 32px;
}

/*****main*****/
main {
  max-width: 900px;
  margin: 0px auto 0;
}

section {
  margin-top: 32px;
  margin-bottom: 32px;
}

h1 {
  font-size: 150%;
}
h1 a {
  color: #000;
  text-decoration: none;
}

h2 {
  padding-left: 10px;
  border-left: solid 4px #558866;
  font-size: 140%;
}

h3 {
  font-size: 120%;
}

p {
  line-height: 2;
}

.card {
  background-color: white;
  padding: 32px;
  margin-bottom: 20px;
  border-radius: 10px 10px 10px 10px;
}
/* 記事カテゴリの装飾 */
.kijicat {
  margin-top: -10px;
}
.kijicat ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.kijicat li {
  display: block;
  margin-right: 5px;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: #90ad1c;
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
}
.kijicat li:hover {
  background-color: #b4d823;
}
.kijicat ul:after {
  content: "";
  display: block;
  clear: both;
}
.kijicat li {
  float: left;
  width: auto;
}

.code-frame {
  background-color: #272822;
  color: #e3e3e3;
  font-family: "SFMono-Regular","Consolas","Liberation Mono","Menlo","Courier,monospace";
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  white-space: nowrap;
  overflow-x: auto;
}

.amazon-box {
  border: solid 1px #dbdbdb;
  box-shadow: 2px 3px 8px -5px rgba(0,0,0,.25);
  display: flex;
  padding: 12px 12px 12px 12px;
}
.amazon-content {
  margin-left: 20px;
}
.amazon-content a {
  color: #000;
  font-size: 120%;
  text-decoration: none;
}
.amazon-content ul {
  list-style: none;
  margin: 0 0 0 0;
  padding-left: 0px;
}

footer {
  padding-bottom: 10px;
}
.footer-container {
  max-width: 900px;
  margin: 0px auto 0;
  padding: 0 32px 0 32px;
}
.next {
  text-align: left;
  margin-bottom: 5px;
}
.prev {
  text-align: right;
  margin-bottom: 5px;
}
.top {
  text-align: center;
}
.copyright {
  margin-top: 5px;
  text-align: center;
}

/* 文字の色 */
.bright_red {
  color: #FF6D6D;
}
.bright_blue {
  color: #3465a4;
}
.bright_purple {
  color: #a1467e;
}
